html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6{
  margin: 0;
}
p{
  margin: 0;
}
.container{
  width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
}
:root{
  --text-wihite:#fff;
  --text-regular: #5D5F6D;
  --text-bold:#232536;
  --text-link:#444CFC;
  --text-semi-bold:#000;
  /* bg */
  --hero-bg: #232536;
  --green-bg:#ECF8F9;
  --red-bg:#FFE6D2;
  /* MINI */
  --mini-bg1:#F9F9FF;
  --mini-bg2:#ECF8F9;
  --mini-bg3:#666DFF;
  --foter-bg: #FFE6D2;
  /* button */
  --btn:linear-gradient(180deg, #444CFC 0%, #444CFC 100%);

}
.regular{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-regular);
}
.bold{
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: var(--text-bold);
}
.semi-bold{
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: var(--text-mini-title);
}
.btn {
  display: inline-block;
  padding: 21px 68px 21px 32px;
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-wihite);
  opacity: 0.87;
  background: var(--btn);
}
.btn::before {
  content: "";
  width: 28px;
  height: 28px;
  display: inline-block;
  background-image: url("../img/btn-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  position: absolute;
  top: 0;
  left: 0;
}
.btn::after{
  content: "";
  width: 20px;
  height: 12px;
  position: absolute;
  background-repeat: no-repeat;
  background-image: url('../img/btn-icon.svg');
  bottom: 25px;
  right: 23px;
}
.nav__link{
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-wihite);
  opacity: 0.6; 
  margin-right: 32px;
  padding-top: 28px;
  padding-bottom: 31px;
  border-top: 3px solid transparent;
  transition: all 0.3s ease;
}
#main-header{
  background-color: var(--hero-bg);
}
.header__btn{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFD3AF;
   
}
.nav__list{
  position: relative;
}
.nav__link:hover{
  opacity: 1;
  border-top: 3px solid #FFA155;
}
.header__btn::after{
  content: "";
  width: 20px;
  height: 12px;
  position: absolute;
  background-repeat: no-repeat;
  background-image: url('../img/btn-icon.svg');
  bottom: 32px;
  right: -30px;  
}
/* SOHIBJON  */
.sub {
  width: 100%;
  height: 333px;
  background: var(--mini-bg3);
}
.subscribe-sec {
  height: 100%;
}
.subscribe {
  padding-top: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 96px;
  padding-right: 96px;
  position: relative;
}
.subscribe--bg::before {
  content: "";
  background-image: url("../img/top-shapes-bg.png");
  width: 88px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
}
.subscribe--bg::after {
  content: "";
  background-image: url("../img/shapes.png");
  width: 24px;
  height: 333px;
  position: absolute;
  top: 0;
  right: -24px;
}
.subscribe-sec__title {
  font-style: normal;
  font-weight: 500;
  padding-bottom: 13px;
  padding-left: 96px;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--text-wihite);

}
.subscribe-sec__text {
  width: 571px;
  height: 108px;
  padding-left: 98px;
  margin-top: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: var(--text-wihite);
}

.subscribe-form__inp {
  width: 454px;
  height: 32px;
  padding: 20px 32px;
  outline-color: rgba(0, 0, 0, 0.411);
  border: none;
}
#subscribe{
  padding-top: 96px;
  padding-bottom: 96px;
}
/* SOHIBJON  */
.footer {
  padding-top: 70px;
  position: relative;
  padding-bottom: 64px;
}
.footer::before{
  content: "";
  position: absolute;
  background-image: url('../img/footer-before.svg');
  width: 37px;
  height: 34px;
  top: 0;
  left: 0;
}
.footer__columns {
  display: flex;
}
.column__first {
  width: 453px;
  margin-right: 203px;
  display: flex;
  flex-direction: column;
}
.column__first-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: var(--text-bold);
  margin-bottom: 40px;
}
.column__first-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: var(--text-bold);
  margin-bottom: 28px;
  display: flex;
  align-items: center;
}
.column__first-text::after{
  content: "";
  display: inline-block;
  background-image: url('../img/hand.svg');
  height: 24px;
  width: 24px;
}
.column__first-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: var(--text-bold);
  margin-bottom: 5px;
}
.column__second {
  width: 120px;
  margin-right: 61px;
}
.column__item {
  margin-bottom: 12px;
}
.column__item:hover a{
  color: #444b86;
}
.column__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: var(--text-bold);
  margin-bottom: 13px;
}
.column__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-bold);
}
.column__third {
  width: 170px;
  margin-right: 58px;
}
.column__fourth{
  width: 100px;
}
.footer__down-first {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.column__down-first-addres {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color:var(--text-bold);
  margin-top: 30px;
}
.footer__down-addreses{
  width: 207px;
}
.footer__down-first-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-bold);
  display: flex;
  align-items: center;
}
.footer__down-first-link::before{
  content: "";
  display: inline-block;
  background-image: url('../img/Shape-contact-us.svg');
  width: 50px;
  height: 14px;
  margin-right: 8px;
}
.footer__down-first-link::after{
  content: "";
  display: inline-block;
  background-image: url('../img/right-arrow.svg');
  width: 21px;
  height: 8px;
  margin-left: 8px;
}
.footer__down-second{
  background: #FFE6D2;
  padding: 26px 0;
}
.footer__down-second .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__down-second-texts {
  display: flex;
  align-items: center;
}
.footer__down-copyright {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-semi-bold);
  margin-left: 41px;
}
.footer__down-list {
  display: flex;
  justify-content: space-between;
  width: 144px;
}
.footer__down-link {
  color: var(--text-bold);
  font-size: 16px;
}
.footer__down-link:hover{
  color: #6a72c0;
}